.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__heading {
	font-size: 2rem;
	font-weight: bold;
	margin: 2rem 0;
}

.header__react-logo {
	animation: react-logo-spin infinite 20s linear;
	height: 30px;
	margin-right: -40px;
}

@keyframes react-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
